@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* reset styles */
* {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}