@use 'sass:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius,2);
  
    .card-title {
      font-family: 'Big Shoulders Display', cursive;
    }

    .card-bold-quote {
      font-size: $font-size-lg;
      font-weight: 600;
    }

    .card-body {
      font-size: $base-font-size;
      line-height: 1.6;
    }
  }

  .article-card {
    display: flex;
    width: 100%;
    max-width: 960px;
    max-height: 100%;
  }

  .card-grid {

    @media (min-width: 960px) {
      &.card-l {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }
  
      &.card-r {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
      
      @media (max-width: 960px) {
        &.card-l {
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
    
        &.card-r {
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }

    .card-title {
      text-transform: uppercase;
      font-family: 'Big Shoulders Display', cursive;
      color: $very-light-gray;
      padding: $base-padding 0;
    }
  
    .card-body {
      color: $transparent-white;
      line-height: 1.6;
    }
  }


  